@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

aside, header, main, footer {
  display: flex;
  justify-content: center;
}

.more {
  position:absolute;
  background-color: #00669F;
  color: #fff;
  font-size:40px;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  right: 0;
  top: 50%;
}

.simbol {
  position:absolute;
  inset: 10px 0 0 0;
}
/* RESPONSIVE MOBILE 576px */
.relative {
  position: relative;
}

.container {
  width: 100vw;
  padding: 5px;
}

aside {
  height: 30px;
  background-color: #d1891c;
}

header {
  display: flex;
  align-items: center;
  background-color: #00669f;
  height: 75px;
  color: white;
  font-weight: 400;
  font-size: 12px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

article {
  position: relative;
  width: 350px;
  background-color: #F3F3F3;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

article .heart {
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 20px;
  left: 20px;
}

article .card_batman {
  background-image: url(../img/header_batman.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 217px;
  border-radius: 30px 30px 0 0;
}

article .card_profile_batman {
  background-image: url(../img/profile_barman.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  top: 150px;
  left: 115px;
}

article .card_maravilla {
  background-image: url(../img/header_maravilla.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 217px;
  border-radius: 30px 30px 0 0;
}

article .card_profile_maravilla {
  background-image: url(../img/profile_maravilla.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  top: 150px;
  left: 115px;
}

article .card_man {
  background-image: url(../img/header_man.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 217px;
  border-radius: 30px 30px 0 0;
}

article .card_profile_man {
  background-image: url(../img/profile_man.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  top: 150px;
  left: 115px;
}

article .card_queen {
  background-image: url(../img/header_queen.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 217px;
  border-radius: 30px 30px 0 0;
}

article .card_profile_queen {
  background-image: url(../img/profile_quin.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  top: 150px;
  left: 115px;
}

article h2 {
  padding-top: 80px;
}

article p {
  margin-top: 10px;
  text-align: left;
  padding: 0 18px;
}

article a {
  margin: 10px 0;
  background-color: #00669f;
  padding: 15px 35px;
  text-decoration: none;
  color: white;
}

footer {
  height: 45px;
  background-color: #00669f;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  article {
    margin: 55px 50px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
